<div class="container">
  <div class="wrapper">
    <div class="dropdown">
      <label for="menuitems">Показывать</label>
      <select name="menuitems" id="menuitems">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
    </div>

    <div class="page__block">
      <label for="page_number">Страница</label>
      <input value="1" />
      <span>из 1</span>
    </div>

    <div class="nav__buttons">
      <button class="control__button back"><</button>
      <button class="control__button forward">></button>
    </div>
  </div>
  <button class="page__button">Добавить акцию</button>

  <table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>
</div>
