<form class="container">
  <div class="buttons">
    <button class="remove">Удалить</button>
    <button class="save">Сохранить</button>
  </div>
  <div class="input__container">
    <div class="input__item">
      <span>Компания</span>
      <input [value]="activeItem.brandName" />
    </div>
    <div class="input__item">
      <span>Товар</span>
      <input [value]="activeItem.itemName" />
    </div>

    <div class="input__item">
      <span>Объем</span>
      <input [value]="activeItem.volume" />
    </div>

    <div class="input__item">
      <span>Цена</span>
      <input [value]="activeItem.price" />
    </div>
  </div>
</form>
