<form class="container">
  <div class="buttons">
    <button class="remove">Удалить</button>
    <button class="save">Сохранить</button>
  </div>
  <div class="input__container">
    <div class="input__item">
      <span>Компания</span>
      <input [value]="companyName" />
    </div>
    <div class="input__item">
      <span>Товар</span>
      <input [value]="itemName" />
    </div>

    <div class="input__item">
      <span>Объем</span>
      <input [value]="value" />
    </div>

    <div class="input__item">
      <span>Цена</span>
      <input [value]="price" />
    </div>
  </div>
</form>
